page {
  height: 100%;
  background-color: #f5f6f7;
}

.limit-text {
  width: 100%;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info-name {
  color: #343434;
  font-size: 28px;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
}

.info-expire {
  color: #343434;
  font-size: 22px;
  font-weight: 400;
}
