page,
.container {
	height: 100vh;
}

/* 容器 */
.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;

	&>view {
		width: 100%;
	}
	&>taro-view-core {
		width: 100%;
	}
	.top--panel-text{
		background-color: #ffaa00;
		text-align: center;
		font-size: 28px;
		padding: 10px 0;
		color: #fff;
	}
	.scroll-panel {
		flex-grow: 1;
		height: 0;
		overflow: hidden;
	}

	.bottom-panel {
		padding-bottom: 0;
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);
		.bottom-panel-text{
			background-color: #ffaa00;
			text-align: center;
			font-size: 28px;
			padding: 10px 0;
			color: #fff;
		}
	}
}


.list-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	font-size: 28px;

	.left {
		width: 200px;
		background-color: #f6f6f6;
		line-height: 80px;
		box-sizing: border-box;
		font-size: 32px;

		.item {
			padding-left: 20px;
			position: relative;

			&:not(:first-child) {
				margin-top: 1px;

				&::after {
					content: '';
					display: block;
					height: 0;
					border-top: #d6d6d6 solid 1px;
					width: 620upx;
					position: absolute;
					top: -1px;
					right: 0;
					transform: scaleY(0.5);
					/* 1px像素 */
				}
			}

			&.active {
				color: #42b983;
				background-color: #fff;
			}
		}

		.fill-last {
			height: 0;
			width: 100%;
			background: none;
		}
	}

	.main {
		background-color: #fff;
		padding-left: 20px;
		width: 0;
		flex-grow: 1;
		box-sizing: border-box;



		.title {
			line-height: 64px;
			font-size: 24px;
			font-weight: bold;
			color: #666;
			background-color: #fff;
			position: sticky;
			top: 0;
			z-index: 19;
		}

		.item {
			padding-bottom: 10px;
			border-bottom: #eee solid 1px;
		}

		.goods {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;
			align-content: center;
			margin-bottom: 10px;

			.logo{
				width: 120px;
				height: 120px;
				margin-right: 16px;
				margin-left: 2px;
					& > img {
					width: 100%;
					height: 100%;
				}
			}
		
			.describe {
				font-size: 24px;
				color: #999;
			}

			.money {
				font-size: 24px;
				color: #efba21;
			}
		}
	}
}