page {
  background-color: #f5f6f5;
}

.order-items-card {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  > view:not(:first-child) {
    margin-top: 20px;
  }
  .order-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.header {
  background-color: #fff;
  padding: 88px 0 0 30px;
  height: 176px;
  width: 100%;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
