page {
  background-color: #f5f6f5;
}

.order-items-card {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  > view:not(:first-child) {
    margin-top: 20px;
  }
  .order-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
