page {
  height: 100%;
  background-color: #f7f7f7;
}
.card {
  margin: 20px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #fff;
}
.consignee {
  display: flex;
  align-items: center;
  .address {
    font-size: 32px;
    font-weight: bold;
  }
  .contact {
    color: #999999;
    margin-top: 20px;
    font-size: 28px;
  }
}
.order {
  .title {
    font-size: 32px;
    font-weight: bold;
  }
}
.btn {
  margin: 0;
}
.btn::after {
  border-radius: 0;
}
button::after {
  border-radius: 0;
}
