.main{
    margin-top: 100px;
    .rider-info{
        height: 200px;
        background-color: #fff;
        margin: 0 35px;
        padding: 25px;
        border-radius: 20px;
        box-shadow: 4px 4px 20px #f3f3f3;
        .top{
            display: flex;
            justify-content: space-between;
            .base-info{
                .nickname{
                    font-size: 40px;
                    font-weight: bold;
                }
                .viptips{
                    margin-top: 4px;
                    color:#888;
                    font-size: 24px;
                }
            }
            .avatar {
                margin-top: -70px;
                width: 180px;
                height: 180px;
                border-radius: 100%;
            }
        }
    }
}