@import "~taro-ui/dist/style/index.scss";

@font-face {
  font-family: "wenyue";
  src: url("https://static.heytea.com/taro_trial/v1/font/WenYue-XinQingNianTi-NC-W8_1.otf");
}

@font-face {
  font-family: "neutra";
  src: url("https://static.heytea.com/taro_trial/v1/font/NeutraTextDemiAlt.otf");
}

.wenyue-font {
  font-family: "wenyue";
}

.neutra-font {
  font-family: "neutra";
}
